@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {
    .container {
        padding: 0 20px;
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .main {
        padding-top: 86px;
    }

    .bestSellers {
        padding: 50px 0;
        overflow: hidden;

        .blockHead {
            margin-bottom: 30px;
        }

        .blockBody {
            .productListing {
                .products {
                    margin-bottom: 30px;
                    flex-wrap: wrap;

                    .listingItemDIV {
                        margin-bottom: 30px;
                        flex: 0 0 100%;
                        width: 100%;
                        max-width: 100%;
                        padding: 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }


    .mainBanner {
        padding-top: 50px;

        .bannerText {
            padding-top: 0;
            margin-bottom: 30px;
        }
    }

    .textBlock {
        padding: 50px 0;

        .blockTitle {
            margin-bottom: 30px;
        }

        .blockDescription {
            p {
                max-width: 100%;
                margin: 0;
            }
        }
    }

    .collections {
        padding: 50px 0;

        .blockHead {
            margin-bottom: 30px;
        }

        .blockBody {
            .listingHolder {


                .listingItemDIV {
                    margin-bottom: 30px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                }

                .listingItem {
                    .listingTitle {
                        font-size: 16px;
                        padding: 10px 7px;
                    }

                    .listingImage {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }


    header {
        .container {
            padding: 0 20px;
        }



        .headerWrapper {
            .middle {
                width: 50%;

                .logoHolder {
                    max-width: 120px;

                }
            }

            .right {
                width: 50%;

                .menuButton {
                    display: block;
                }

                .search {
                    display: none;
                }
            }

            .left {
                .menuList {
                    transition: all 0.3s ease-in-out;
                    z-index: 100;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    flex-direction: column;
                    left: 0;
                    height: 100vh;
                    background: white;
                    display: flex;
                    transform: translateX(100%);
                    align-items: center;
                    justify-content: center;
                    &.active{
                        transform: none;
                    }
                }
            }
        }
    }

}

@media all and (max-width: 768px) {}