@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@use "sass:math";
* {
  font-family: "Lora"; }

.container {
  padding: 0 200px;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important; }

.main {
  padding-top: 94px; }

header {
  background-color: #EAD9CE;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03); }
  header.hideMenu {
    transform: translateY(-100%); }
  header .container {
    padding-right: 100px; }
  header .search {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header .search:hover img {
      filter: brightness(0) saturate(100%) invert(84%) sepia(67%) saturate(2%) hue-rotate(44deg) brightness(110%) contrast(101%); }
  header .headerWrapper {
    display: flex;
    align-items: center;
    padding: 20px 0; }
    header .headerWrapper .left .menuList {
      display: flex;
      align-items: center;
      gap: 40px; }
      header .headerWrapper .left .menuList .close {
        position: absolute;
        top: 10px;
        right: 20px;
        display: none;
        height: auto;
        font-size: 50px;
        color: #B07B54; }
      header .headerWrapper .left .menuList .menuItem {
        color: #000000;
        font-size: 16px; }
        header .headerWrapper .left .menuList .menuItem a {
          color: inherit;
          font-size: 16px;
          padding-bottom: 3px;
          position: relative; }
          header .headerWrapper .left .menuList .menuItem a:hover::after {
            width: 100%; }
          header .headerWrapper .left .menuList .menuItem a::after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 0;
            background-color: #000000;
            height: 1px;
            inset-inline-start: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
    header .headerWrapper .middle {
      display: flex;
      justify-content: center; }
      header .headerWrapper .middle .logoHolder {
        display: inline-block;
        max-width: 147px; }
        header .headerWrapper .middle .logoHolder img {
          width: 100%;
          max-width: 100%; }
    header .headerWrapper .right {
      display: flex;
      justify-content: end; }
      header .headerWrapper .right .menuButton {
        display: none; }
        header .headerWrapper .right .menuButton .line {
          background-color: #1B1B1B;
          width: 20px;
          height: 1px;
          margin-bottom: 5px;
          -webkit-transition: all 0.3sease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3sease; }

.mainBanner {
  background-color: #EAD9CE;
  padding-bottom: 50px;
  padding-top: 30px;
  overflow: hidden; }
  .mainBanner .container {
    padding-right: 0; }
  .mainBanner .bannerText {
    padding-top: 100px; }
    .mainBanner .bannerText h2 {
      color: #1B1B1B;
      font-family: "Kurale";
      font-weight: 500;
      margin-bottom: 30px; }
      .mainBanner .bannerText h2 {
        font-size: 32px; }
        @media screen and (min-width: 320px) {
          .mainBanner .bannerText h2 {
            font-size: calc(32px + 28 * ((100vw - 320px) / 1601)); } }
        @media screen and (min-width: 1921px) {
          .mainBanner .bannerText h2 {
            font-size: 60px; } }
    .mainBanner .bannerText p {
      color: #1B1B1B;
      margin-bottom: 40px;
      line-height: 1.2; }
      .mainBanner .bannerText p {
        font-size: 16px; }
        @media screen and (min-width: 320px) {
          .mainBanner .bannerText p {
            font-size: calc(16px + 2 * ((100vw - 320px) / 1601)); } }
        @media screen and (min-width: 1921px) {
          .mainBanner .bannerText p {
            font-size: 18px; } }
  .mainBanner .bannerImg {
    max-width: 100%;
    height: 100%; }
    .mainBanner .bannerImg img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.collections {
  padding: 100px 0; }
  .collections .blockHead {
    text-align: center;
    margin-bottom: 80px; }
    .collections .blockHead h2 {
      font-size: 22px; }
      @media screen and (min-width: 320px) {
        .collections .blockHead h2 {
          font-size: calc(22px + 6 * ((100vw - 320px) / 1601)); } }
      @media screen and (min-width: 1921px) {
        .collections .blockHead h2 {
          font-size: 28px; } }
    .collections .blockHead h2 div {
      color: #1B1B1B;
      font-family: "Kurale"; }
      .collections .blockHead h2 div {
        font-size: 22px; }
        @media screen and (min-width: 320px) {
          .collections .blockHead h2 div {
            font-size: calc(22px + 6 * ((100vw - 320px) / 1601)); } }
        @media screen and (min-width: 1921px) {
          .collections .blockHead h2 div {
            font-size: 28px; } }
  .collections .blockBody .listingHolder .listingItem {
    position: relative; }
    .collections .blockBody .listingHolder .listingItem .listingImage {
      max-width: 100%; }
      .collections .blockBody .listingHolder .listingItem .listingImage img {
        width: 100%;
        object-fit: cover;
        max-width: 90%; }
    .collections .blockBody .listingHolder .listingItem .listingTitle {
      position: absolute;
      bottom: 30px;
      background-color: #B07B54;
      padding: 10px 30px;
      padding-right: 40px;
      border-radius: 0 30px 30px 0;
      color: #ffffff;
      width: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: "Kurale";
      font-size: 18px;
      -webkit-transition: all 1.5s ease;
      -moz-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
      -o-transition: all 1.5s ease;
      transition: all 1.5s ease; }

.btn {
  background-color: #B07B54;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0 30px 30px 0;
  padding: 10px 30px;
  padding-right: 40px; }
  .btn:hover {
    background-color: #ffffff;
    color: #1B1B1B; }

.fadeTitle {
  opacity: 0; }

.bestSellers {
  padding: 100px 0; }
  .bestSellers .blockHead {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center; }
    .bestSellers .blockHead h2 {
      color: #1B1B1B;
      font-family: "Kurale"; }
      .bestSellers .blockHead h2 div {
        font-family: "Kurale"; }
        .bestSellers .blockHead h2 div {
          font-size: 22px; }
          @media screen and (min-width: 320px) {
            .bestSellers .blockHead h2 div {
              font-size: calc(22px + 6 * ((100vw - 320px) / 1601)); } }
          @media screen and (min-width: 1921px) {
            .bestSellers .blockHead h2 div {
              font-size: 28px; } }
  .bestSellers .blockBody .productListing .products {
    margin-bottom: 72px;
    display: flex; }
    .bestSellers .blockBody .productListing .products .listingItemDIV .listingImage {
      margin-bottom: 10px;
      max-width: 100%; }
      .bestSellers .blockBody .productListing .products .listingItemDIV .listingImage img {
        width: 100%; }
    .bestSellers .blockBody .productListing .products .listingItemDIV .listingTitle {
      font-size: 16px;
      color: #1B1B1B;
      line-height: 1.2;
      margin-bottom: 5px; }
    .bestSellers .blockBody .productListing .products .listingItemDIV .price {
      color: #1B1B1B;
      line-height: 1.2;
      font-size: 16px; }
    .bestSellers .blockBody .productListing .products:nth-of-type(odd) {
      justify-content: start; }
    .bestSellers .blockBody .productListing .products:nth-of-type(even) {
      justify-content: end; }
    .bestSellers .blockBody .productListing .products .listingItemDIV {
      padding: 0 25px; }

.textBlock {
  text-align: center;
  background-color: #EAD9CE;
  padding: 100px 0;
  color: #1B1B1B; }
  .textBlock .blockTitle {
    margin-bottom: 50px; }
    .textBlock .blockTitle h2 {
      font-family: "Kurale";
      font-weight: 300; }
      .textBlock .blockTitle h2 {
        font-size: 25px; }
        @media screen and (min-width: 320px) {
          .textBlock .blockTitle h2 {
            font-size: calc(25px + 7 * ((100vw - 320px) / 1601)); } }
        @media screen and (min-width: 1921px) {
          .textBlock .blockTitle h2 {
            font-size: 32px; } }
  .textBlock .blockDescription {
    font-size: 17px; }
    .textBlock .blockDescription p {
      line-height: 1.8;
      max-width: 90%;
      margin: 0 auto; }

/*# sourceMappingURL=hamza-jewlery.css.map */
